*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Century Gothic';
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: url(img/pizarron.jpg);
	background-size: cover;
	background-attachment: fixed;
}
/*sobre la cuenta de usuario*/
.contenedor{
	width: 100%;
	padding: 15px;

}
.Usuario{
	background: #fff;
	margin-top: 150px;
	padding: 3px;
}

h1{
	text-align: center;
	color: #1a2537;
	font-size: 40px;
}

input[type="text"],
input[type="password"]{
	font-size: 20px;
	width: 82%;
	padding: 10px;
	border: none;
}
.input-contenedor{
margin-bottom: 15px;
border: 1px solid #aaa;
}
.icon{
	min-width: 50px;
	text-align: center;
    color: #999;

}
.button{
	border:none;
	width: 100%;
	color: white;
	font-size: 20px;
	background: #1a2537;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover{
	background: cadetblue;

}

p{
	text-align: center;
}
.link{
	text-decoration: none;
	color: #1a2537;
	font-weight: 600;
}

.link:hover{
	color: rgb(5, 72, 75);

}
@media(min-width:768px){
	.Usuario{
		margin: auto;
		width: 500px;
		margin-top: 150px;
		border-radius: 2%;
	}
}
/*-------------------------------------------*/
a{
	text-decoration: none;
}


ul{
	list-style: none;
}

img{
	max-width: 100%;
}

/*=================MENU=========================*/

.title{
	width: 100%;
	background: #2997a1;
	height: 200px;
    flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title h1{
	color: #fff;
	font-size: 65px;
	font-weight: 200;
	text-align: center;
  
}

.navegacion{
	width: 100%;
	background: #c77904;

	display: flex;
	justify-content: center;
}

.menu{
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	height: 90px;
}

.menu li{
	flex-basis: 0;
	flex-grow: 1;
	border-right: 1px solid #363636;
	position: relative;
}

.menu .first-item{
	border-left: 1px solid #363636;
}

.menu li a{
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

.menu .imagen{
	position: absolute;
	bottom: 0;
	right: 30px;
	width: 0%;
	z-index: 20;

	-webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
   -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
     -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
        transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); /* easeInOutSine */

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.51);
}

.menu li a .text-item{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: rgb(241, 235, 235);
	top: 0%;
	position: absolute;
	z-index: 10;
    font-family: 'Helveticah', Arial;
    font-size: 13px;

	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.menu li a .down-item{
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background: #0097fb;

	-webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */

-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.menu li:hover .down-item, .menu li:hover .text-item{
	top: 100%;
	height: 115%;
}

.menu li:hover .imagen{
	width: 100%;
	right: 0px;
}
/*==============responsive=========*/
.in-flex{
    flex: 1;
    min-width: 300px;
}
.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: #fb00e6;
    margin: 20px;
    margin-bottom: 0px;
}
.in-flex div{
    padding: 25px;
    background-color: #5800fb;
    margin: 20px;
}
.fondo img{
    margin: auto;
    display: black;
    width: 300px;
    height: 150px;
    /*position: absolute;*/
}
.fondodos img{
    margin: auto;
    display: black;
    width: 1350px;
    height: 300px;
    /*position: absolute;*/
}
