.boton_1 button{
    background: #08d5e4;
    
    color: white;
    border-radius: 20px;
    font-size: 30px;
    width: 160px;
    height: 80px;
              }
  
       h1{
        background: #f0e8ed;
 text-align: center;
 color: #ac055b;
 font-size: 40px;
    }
      
    